{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<style type="text/css">
	.more{
        		margin-bottom: 20px
        	}
        	#vfo{
		display: none;
        }
        .col-md-3:{
        	margin-bottom: 20px;
        }
        @media screen and (max-width: 768px){
        	
        	.news img{
        		
        		width:80%;
        		height: 145px;
        	 
        }
        .news .divfooter{
        	display: none;
        }
       .news .more{
        		margin-top: 1px
        	}
        .col-md-3:{
        	margin-bottom: 5px;
        	padding-bottom: 2px;
        	
        }
        #vfo{
		display: block;
		text-align-last: left;
        }
        }
</style>
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm nav  navbar fixed-top">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#home">Home</a>
    <a class="p-2 text-dark" href="allrecipies">Recipies</a>
    <a class="p-2 text-dark" href="alldishes">Dishes</a>
    {% if request.user.is_authenticated %}
    <a class="p-2 text-dark" href="news">News</a>
    {% endif %}
    <a class="p-2 text-dark" href="allrestaurants">Restaurants</a>
    <a class="p-2 text-dark" href="contact">Contact</a>
    {% if request.user.is_authenticated %}
    <a class="p-2 text-dark" href="addrecipies">Addrecipies</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a class="p-2 text-dark" href="addishes">Addishes</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a class="p-2 text-dark" href="addrestaurants">Addrestaurants</a>
    {% endif %}
    <a class="p-2 text-dark" href="login">Sign up</a>
  </nav>
  
</div>
	<section class="top" id="home" style="margin-bottom: 30px;">
		<div class="header">
			<h4 style="color: brown"><b>Quote of The Day</b></h4>
		
		<h5>".....We Love Food Cause it is a language we all understand"</h5>
		<h6><b>-Anonymous</b></h6>
	</div>
	</section>
	<section id="recipies">
		<div class="dishes" style="padding-top: 40px;margin-bottom: 30px">
		<h3><b>Recipies</b></h3>
		<div class="row">
		{% for recipi in recipies %}
		<div  class="col-md-3" >
			 {% if recipi.image %}
    <a href="recipie/{{recipi.id}}"><img src="{{recipi.image.url}}"></a>
{% endif %}
					<div class="divfooter">
						<a href="recipie/{{recipi.id}}">{{recipi.name|truncatechars:16}}

					</div>
				</div>
		{% endfor %}
		</div>
		
				<div class="row">
					<a href="allrecipies" style="margin-left:auto;margin-right:auto;margin-top: 20px" class="btn btn-success more" >More</a> 
				</div>
		</div>
		</div>
		</
	</section>
	<section class="dishes" id="dishes" style="padding-top: 40px ;margin-bottom: 30px">
		<h3><b>Dishes</b></h3>
		<div class="row" >
		{% for recipi in form %}
		<div  class="col-md-3">
					<a href="dish/{{recipi.id}}"><img src="{{recipi.image.url}}">
					</a>
					<div class="divfooter">
						<a href="dish/{{recipi.id}}">{{recipi.name|truncatechars:16}}
						</a>
					</div>
				</div>
		{% endfor %}
		</div>
		</div>
		
				<div class="row">
					<a href="alldishes" style="margin-left:auto;margin-right:auto;margin-top: 20px" class="btn btn-success more" >More</a> 
				
		</div>
		</div>
	</section>
	<section class="dishes" id="restaurants" style="padding-top: 40px;margin-bottom: 30px">
		<h3><b>Restaurants</b></h3>
		<div class="row">
		{% for recipi in restaurants %}
		<div  class="col-md-3" >
					<a href="restaurant/{{recipi.id}}"><img src="{{recipi.image.url}}">
					</a>
					<div class="divfooter">
						<a href="restaurant/{{recipi.id}}">{{recipi.name|truncatechars:16}}
						</a>
					</div>
				</div>
		{% endfor %}
		</div>
		</div>
		<div class="row">
					<a href="allrestaurants" style="margin-left:auto;margin-right:auto;margin-top: 20px" class="btn btn-success more" >More</a> 
				</div>
	</section>
	<section class="achievements" id="achievements">
		<h3><b>Achievements</b></h3>
		<div class="row">
			<div  class="col-md-3">
					<i class="fa fa-users"></i>
					<div class="divfooter">
						Users
					</div>
					</div>
			<div  class="col-md-3">
					<i class="fa fa-file"></i>
					<div class="divfooter">
						Recipies
					</div>
				</div>
			<div  class="col-md-3">
				<i class="fa fa-cutlery"></i>
				<div class="divfooter">
				Dishes
				</div>
			</div>
			<div  class="col-md-3">
					<i class="fa fa-bank"></i>
					<div class="divfooter">
					Restaurants
					</div>
				</div>
		</div>
		</div>
	</section>

	<section class="dishes" id="restaurants" style="padding-top: 40px;margin-bottom: 0px;background-color: #D3D3D3">
		<h3><b>News</b></h3>
		<div class="row">
		{% for recipi in news %}
		<div  class="col-md-3 news">
						<a href="nnews/{{recipi.id}}">{{recipi.name|truncatechars:16}}
					<a href="nnews/{{recipi.id}}"><img src="{{recipi.image.url}}" style="border-radius: 5px">
					</a>
					<div class="divfooter">
						<a href="nnews/{{recipi.id}}">{{recipi.title|truncatechars:40}}
						</a>
					</div>
				</div>
				<div  class="col-md-3 news" id="vfo" style="margin-bottom: 20px;margin-top: 10px;padding: 1px">
					<p><a href="nnews/{{recipi.id}}" style="color: #000;">{{recipi.title|truncatechars:70}}
						</a></p>
					</div>
		{% endfor %}
		</div>
		</div>
		<div class="row news">
					<a href="allnews" style="margin-left:auto;margin-right:auto;margin-top: 10px" class="btn btn-success more" >More</a> 
				</div>
	</section>
	<section class="footer">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-phone"></i></a>+254718139814
				</div>
			<div class="col-md-12">
				<div class="aligncenter">
                <a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                	
				</div>				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter">
					<p>
						  davidmuhia87@gmail.com &copy; 2020 - All right reserved
					</p>
	</section>
</body>
</html>